<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container">

	<!-- subtitle & the number of cases-->
	<div class="row" id="subtitle">
		<div class="col-lg-6 col-md-6">
			<h2>스크립트 녹음</h2>
		</div>

		<div class="col-lg-6  col-md-6">
			<h6 th:text="|나의 녹음 ${myRecordCnt}건 / 스크립트 ${scriptCnt}건|"></h6>
		</div>
	</div>
	<!-- subtitle & the number of cases END-->

	<!-- contents -->
	<div class="row" id="contents">
		<div class="col-lg-12">

			<!-- script sentence -->
			<div>
				<p>스크립트 문장</p>
				<h4 id="scriptSentence" th:text="${script}"></h4>
				<input type="hidden" id="scriptId" th:value="${scriptId}"/>
			</div>

			<div>
				<p>오디오 컨트롤러</p>

				<!-- audio visualizer -->
				<canvas id="audioVisualizer"></canvas>

				<!-- audio controller -->
				<div id="audioController">
					<button type="button" id="recordBtn"
						class="btn btn-outline-danger">●</button>
					<button type="button" id="stopBtn" class="btn btn-outline-dark"
						disabled>■</button>
					<button type="button" id="playBtn" class="btn btn-outline-dark"
						disabled>▶</button>
					<button type="button" id="nextBtn" class="btn btn-outline-primary"
						disabled>NEXT</button>
				</div>

				<div id="soundClips"></div>
			</div>

		</div>
	</div>
	<!-- contents END-->
</div>


<script layout:fragment="script" type='text/javascript' th:src="@{/js/record.js}"></script>