<!DOCTYPE html>
<html lang="ko">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Voice Collector</title>

<!-- Favicons -->
<link th:href="@{/img/favicon.ico}" rel="icon">
<link th:href="@{/img/favicon.ico}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

<!-- Vendor CSS Files -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
<link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
<link th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
<link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
<link th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
<!-- Custom CSS File -->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
	<!-- 로딩스피너 -->
	<div id="loading-background"></div>
	<div id="loading-container" class="loading-container" >
	    <div class="loading"></div>
	    <div id="loading-text">loading</div>
	</div>
		
		
	<!-- 네비게이션바 -->
	<th:block th:if="!${#strings.equals(useNav, 'N')}" >
		<nav th:replace="navbar :: navbarFragment"></nav>
	</th:block>
	<!-- 기본 템플릿 안에 삽입될 내용 -->
	<th:block layout:fragment="content"></th:block>
	<!-- Back to top arrow -->
	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<!-- Vendor JS Files -->
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
	<script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
	<script th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
	<!-- Template Main JS File -->
	<script th:src="@{/js/main.js}"></script>
	<!-- SheetJS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
	<!-- 자바스크립트 -->
	<th:block layout:fragment="script"></th:block>
</body>
</html>