<html layout:decorate="~{layout}">
<div layout:fragment="content" id="hero">
	<div class="hero-container">
		<h3>스크립트 <strong>녹음 관리</strong>를 위한 웹 툴</h3>
		<h1>Voice Collector</h1>
		<h2>"음성 수집의 전체 과정을 간편하고 빠르게 수행하도록 도와드립니다."</h2>

		<div sec:authorize="isAuthenticated()">
			<a th:href="@{/collection/record}" class="btn-get-started text-decoration-none">녹음 시작</a>
		</div>
		<div sec:authorize="isAnonymous()">
			<a th:href="@{/user/login}" class="btn-get-started">녹음 시작</a>
		</div>
		
		
		
		<div class="modal fade" id="signupModal" aria-hidden="true" aria-labelledby="signupModalLabel" tabindex="-1">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		    
		      <div class="modal-header">
		        <h1 class="modal-title fs-5" id="signupModalLabel"><b>Sign Up</b></h1>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      
		      <div class="modal-body" id="modalBody">
		          <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
			        <div th:replace="form_errors :: formErrorsFragment"></div>
			        <div class="mb-3">
			            <label for="email" class="form-label">이메일</label>
			            <input type="email" th:field="*{email}" class="form-control" placeholder="email@example.com">
			        </div>
			        <div class="mb-3">
			            <label for="password1" class="form-label">비밀번호</label>
			            <input type="password" th:field="*{password1}" class="form-control" placeholder="⦁ ⦁ ⦁ ⦁ ⦁ ⦁ ⦁ ⦁">
			        </div>
			        <div class="mb-3">
			            <label for="password2" class="form-label">비밀번호 확인</label>
			            <input type="password" th:field="*{password2}" class="form-control" placeholder="⦁ ⦁ ⦁ ⦁ ⦁ ⦁ ⦁ ⦁">
			        </div>
			        <div class="mb-3">
			            <label for="nickname" class="form-label">사용자명</label>
			            <input type="text" th:field="*{nickname}" class="form-control" placeholder="이름">
			        </div>
			        <button type="submit" class="btn btn-primary modal-button-confirm">회원가입</button>
			    </form>
		      </div>
		    </div>
		  </div>
		</div>
		
		<button class="btn" id="btnSignup" data-bs-target="#signupModal" data-bs-toggle="modal" data-bs-dismiss="modal" style="display:none;">회원가입</button>
		
	</div>
</div>

<script layout:fragment="script" type='text/javascript' th:inline="javascript">
window.onload = function(){
	document.getElementById('btnSignup').click();
}
</script>
</html>