<html layout:decorate="~{layout}">
<div layout:fragment="content" id="hero">
	<div class="hero-container">
		<h3>대본 <strong>녹음 관리</strong>를 위한 웹 툴</h3>
		<h1>Voice Collector</h1>
		<h2>"음성 수집의 전체 과정을 간편하고 빠르게 수행하도록 도와드립니다."</h2>

		<div sec:authorize="isAuthenticated()">
			<a th:href="@{/collection/record}" class="btn-get-started text-decoration-none">녹음 시작</a>
		</div>
		<div sec:authorize="isAnonymous()">
			<a th:href="@{/user/login}" class="btn-get-started">녹음 시작</a>
		</div>
		
		
		
		<div class="modal fade" id="signupModal" aria-hidden="true" aria-labelledby="signupModalLabel" tabindex="-1">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		    
		      <div class="modal-header">
		        <h1 class="modal-title fs-5" id="signupModalLabel"><b>Sign Up</b></h1>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      
		      <div class="modal-body" id="modalBody">
			      <input type="hidden" id="confirmCode" value="" />
		          <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post" onsubmit="return checkCode();">
			        <div th:replace="form_errors :: formErrorsFragment"></div>
			        <div class="mb-3">
			            <label for="email" class="form-label">이메일</label>
						<div class="input-group">
				            <input type="email" th:field="*{email}" class="form-control" placeholder="email@example.com">
							<button type="button" class="btn btn-light" onclick="emailConfirm()">메일 인증</button>
						</div>
			        </div>
    			    <div class="mb-3">
			            <label for="emailCode" class="form-label">메일 인증 코드</label>
			            <input type="password" id="emailCode" class="form-control" placeholder="⦁ ⦁ ⦁ ⦁ ⦁ ⦁ ⦁ ⦁">
			        </div>
			        <div class="mb-3">
			            <label for="password1" class="form-label">비밀번호</label>
			            <input type="password" th:field="*{password1}" class="form-control" placeholder="⦁ ⦁ ⦁ ⦁ ⦁ ⦁ ⦁ ⦁">
			        </div>
			        <div class="mb-3">
			            <label for="password2" class="form-label">비밀번호 확인</label>
			            <input type="password" th:field="*{password2}" class="form-control" placeholder="⦁ ⦁ ⦁ ⦁ ⦁ ⦁ ⦁ ⦁">
			        </div>
			        <div class="mb-3">
			            <label for="nickname" class="form-label">사용자명</label>
			            <input type="text" th:field="*{nickname}" class="form-control" placeholder="이름">
			        </div>
			        <div class="mb-3">
						<p>☞ 회원가입 신청 후, 관리자에게 승인 요청 해주세요.</p>
			        </div>
			        <button type="submit" class="btn btn-primary modal-button-confirm">회원가입</button>
			    </form>
		      </div>
		    </div>
		  </div>
		</div>
		
		<button class="btn" id="btnSignup" data-bs-target="#signupModal" data-bs-toggle="modal" data-bs-dismiss="modal" style="display:none;">회원가입</button>
		
	</div>
</div>

<script layout:fragment="script" type='text/javascript' th:inline="javascript">
	window.onload = function(){
		document.getElementById('btnSignup').click();
	}
	
	function emailConfirm() {
		const email = document.getElementById('email').value;
		if(email == "" || email == null){
			alert("이메일을 입력해주세요.")
		} else {
			confirmEmail(email);
		}
	}
	
	async function confirmEmail(email) {
		alert("발송된 이메일 인증코드를 확인해주세요.");

		let formData = new FormData();
		formData.append("confirmEmail", email);
		let response = await fetch('/email/confirm', {
			method: "POST",
			body: formData
		});

		if (response.status == 200) {
			const result = await response.json();
			const confirmCode = result.confirmCode;
			document.getElementById("confirmCode").value = confirmCode;
		} else {			
			alert("이메일 인증코드 발송에 실패하였습니다.");
		}
	}
	
	function checkCode() {
		const confirmCode = document.getElementById("confirmCode").value
		const emailCode = document.getElementById("emailCode").value
		if(confirmCode != emailCode) {
			alert("메일 인증 코드가 잘못되었습니다. 다시 코드를 요청 바랍니다.")
			return false;
		}
		return true;
	}
</script>
</html>