<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container">
	<div class="row">
		<div class="col-lg-6 ">
			<h2><b>회원 관리</b></h2>
		</div>
		
		<div class="col-lg-6">
			<div class="input-group">
				<input type="text" id="search_kw" class="form-control" th:value="${kw}" placeholder="회원 이메일 또는 이름 검색어 입력." onkeyup="if(window.event.keyCode==13){enterSearchBtn()}" autofocus >
				<div class="input-group-append">
					<button class="btn btn-primary" type="button" id="btn_search">검색</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row my-4">
		<div class="col-lg-12">
			<table class="table table-hover">
				<thead class="table-dark">
					<tr class="text-center">
						<th>번호</th>
						<th>이메일</th>
						<th>사용자명</th>
						<th>권한부여</th>
						<th>사용여부</th>
						<th>생성일자</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center" th:each="siteUser, loop :  ${paging}">
						<td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
						<td class="text-start"><a class="table-script" data-bs-toggle="modal" href="#siteUserModifyModal" th:onclick="modifySiteUser([[${siteUser.id}]], [[${siteUser.email}]], [[${siteUser.nickname}]], [[${siteUser.inUseYn}]], [[${siteUser.role}]])" th:id="|site_user_${siteUser.id}|" th:text="${siteUser.email}"></a></td>
						<td th:text="${siteUser.nickname}"></td>
						<td th:if="${siteUser.role.name()}=='ADMIN'" th:text="관리자"></td>
						<td th:if="${siteUser.role.name()}=='MANAGER'" th:text="검수자"></td>
						<td th:if="${siteUser.role.name()}=='USER'" th:text="작업자"></td>
						<td th:if="${siteUser.inUseYn}=='y'" th:text="활성"></td>
						<td th:if="${siteUser.inUseYn}!='y'" th:text="비활성"></td>
						<td th:text="${#temporals.format(siteUser.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
					</tr>
					<tr class="text-center" th:if="${paging.isEmpty()}">
						<td colspan="4">등록된 문장이 없습니다.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<!-- 페이징처리 시작 -->
			<div th:if="${!paging.isEmpty()}">
				<ul class="pagination justify-content-center">
					<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
						<a class="page-link" href="javascript:void(0)" th:data-page="${0}"><span>처음</span></a>
					</li>
					<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
						<a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}"><span>이전</span></a>
					</li>
					<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
							th:if="${(paging.number <= 2 and page < 5)
		                	or (paging.number > 2 and page >= paging.number-2 and page <= paging.number+2)
		                	or (paging.number >= paging.totalPages-2 and page > paging.totalPages-6)}"
							th:classappend="${page == paging.number} ? 'active'" class="page-item">
						<a th:text="${page + 1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
					</li>
					<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
						<a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}"><span>다음</span></a>
					</li>
					<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
						<a class="page-link" href="javascript:void(0)" th:data-page="${paging.totalPages-1}"><span>끝</span></a>
					</li>
				</ul>
			</div>
			<!-- 페이징처리 끝 -->
			
			<form th:action="@{/user/list}" method="get" id="searchForm">
				<input type="hidden" id="kw" name="kw" th:value="${kw}">
				<input type="hidden" id="page" name="page" th:value="${paging.number}">
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
		
			<!-- 스크립트 변경 모달-->		
			<div class="modal fade" id="siteUserModifyModal" aria-hidden="true" aria-labelledby="siteUserModifyModalLabel" tabindex="-1">
				<div class="modal-dialog modal-dialog-centered modal-script">
					<div class="modal-content">
		
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="siteUserModifyModalLabel">
								<b>회원정보 변경</b>
							</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
		
						<div class="modal-body" id="modalModifyBody">
							<form th:action="@{/user/modify}" method="post">
								<input type="hidden" id="kwModal" name="kw" th:value="${kw}">
								<input type="hidden" id="pageModal" name="page" th:value="${paging.number}">
								<input type="hidden" id="siteUserId" name="siteUserId" />
								<div class="mb-3">
									<label for="email" class="form-label"><b>이메일</b></label>
									<div class="input-group">
										<input type="text" id="siteUserEmail" name="siteUserEmail" class="form-control" disabled />
									</div>
								</div>
								<div class="mb-3">
									<label for="nickname" class="form-label"><b>사용자명</b></label>
									<div class="input-group">
										<input type="text" id="siteUserNickname" name="siteUserNickname" class="form-control" />
									</div>
								</div>
								<div class="mb-3">
									<label for="role" class="form-label"><b>권한부여</b></label>
									<div class="input-group">
										<select class="form-select" id="siteUserRole" name="siteUserRole" aria-label="select siteUser's role">
										  <option selected value="USER">작업자</option>
										  <option value="MANAGER">검수자</option>
										  <option value="ADMIN">관리자</option>
										</select>
									</div>
								</div>
								<div class="mb-3">
									<label for="inUseYn" class="form-label"><b>사용여부</b></label>
									<div class="input-group">
										<select class="form-select" id="siteUserInUseYn" name="siteUserInUseYn" aria-label="select siteUser's inUseYn">
										  <option selected value="y">활성</option>
										  <option value="n">비활성</option>
										</select>
									</div>
								</div>
								<div class="mb-3 d-flex justify-content-between" style="margin-top: 4%;">
									<button type="submit" class="btn btn-success" style="width: 100%;" autofocus>수정</button>
								</div>
							</form>
						</div>
		
					</div>
				</div>
			</div>
 				
		</div>
	</div>
</div>


<script layout:fragment="script" type='text/javascript' th:inline="javascript">
	// 페이지네이션 클릭
	const page_elements = document.getElementsByClassName("page-link");
	Array.from(page_elements).forEach(function(element) {
		element.addEventListener('click', function() {
			document.getElementById('page').value = this.dataset.page;
			document.getElementById('searchForm').submit();
		});
	});
	
	// 검색버튼 클릭
	const btn_search = document.getElementById("btn_search");
	btn_search.addEventListener('click', function() {
		document.getElementById('kw').value = document.getElementById('search_kw').value;
		document.getElementById('page').value = 0; // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
		document.getElementById('searchForm').submit();
	});
	
	// 검색칸 enter 이벤트 처리
	function enterSearchBtn() {
		document.getElementById('btn_search').click();
	}
	
	// 모달 입력칸 autofocus 처리
	$('.modal').on('shown.bs.modal', function() {
	  $(this).find('[autofocus]').focus();
	});
	
	// 스크립트 클릭하면 변경 모달 구성
	function modifySiteUser(id, email, nickname, inUseYn, role) {
		document.getElementById('siteUserId').value = id;
		document.getElementById('siteUserEmail').value = email;
		document.getElementById('siteUserNickname').value = nickname;
		document.getElementById('siteUserInUseYn').value = inUseYn;
		document.getElementById('siteUserRole').value = role;
	}
	
	// 변경 시 모달 가져오기
	window.onload = function() {
		if(/*[[${#strings.equals(modalClick, 'modify')}]]*/ 'default'){
			document.getElementById(/*[[|site_user_${siteUserId}|]]*/ 'default').click();
			alert("정보가 변경되었습니다.")
		}
	}
</script>